.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}

.title {
  margin: 40px 0 10px 0;
  width: 100%;
}

.subtitle {
  margin: 10px 0;
  width: 100%;
  font-style: italic;
}

.description {
  margin: 0;
}

.project {
  width: 100%;
}

.contact {
  list-style-type: none;
  padding: 0;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .main {
    margin: 0 10%;
  }
}
